<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896606208289-er450picikfoet1f3ht3148jod5hletp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896606208289-er450picikfoet1f3ht3148jod5hletp</string>
	<key>API_KEY</key>
	<string>AIzaSyDP3RqetDz3rKg42npuLbzhlSxL4Cd7MW8</string>
	<key>GCM_SENDER_ID</key>
	<string>896606208289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comwillshire.Instamureal</string>
	<key>PROJECT_ID</key>
	<string>instamureal</string>
	<key>STORAGE_BUCKET</key>
	<string>instamureal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896606208289:ios:e14e89ff0e3261d2e2fe60</string>
</dict>
</plist>